<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Today's Weather</h3>
        <form action="weather" method="POST">
            <input type="text" id="address" placeholder="Enter the location" name="address">
            <button type="submit">Search</button>
        </form>
        <h4>{{location}}<br><br>{{forecast}}</h4>
    </div>

    {{>footer}}
    {{!-- <script type="text/javascript" src="/js/script.js"></script> --}}
</body>

</html>